<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
        <category label="mmtv.pl">
                <setting type="lsep" label="zaloguj sie do serwisu"/>
                <setting id="mmtv_login" type="bool" label="Zaloguj się" default="false" />
                <setting type="sep"/>
                <setting type="lsep" label="Login i hasło" />
                <setting id="mmtv_user" type="text" label="login" default="" />
                <setting id="mmtv_pass" type="text" label="hasło" option="hidden"  default="" />
                <setting id="mmtv_deviceid" type="text" label="Id urzadzenia" default="asd32d12122b344234432b423d242e2a32343200" />
                <setting id="mmtv_platform" type="text" label="Platforma" default="IOS" />
                <setting id="mmtv_terminal" type="text" label="Typ" default="PHONE" />
               
        </category>
        <category label="netvi.pl">
                <setting type="lsep" label="Jakość" />
                <setting id="netvi.pl_quality" type="labelenum" label="Jakość" values="HD|SD|LQ" default="HD"/>
                <setting type="lsep" label="zaloguj sie do serwisu"/>
                <setting id="netvi.pl_login" type="bool" label="Zaloguj się" default="false" />
                <setting type="sep"/>
                <setting type="lsep" label="Login i hasło" />
                <setting id="netvi.pl_user" type="text" label="login" default="" />
                <setting id="netvi.pl_pass" type="text" label="hasło" option="hidden"  default="" />
               
        </category>
        <category label="noobroom.com">
                <setting type="lsep" label="Adres ip ze strony www.noobroom.com" />
                <setting id="noobroom_ip" type="text" label="Adres ip" default="noobroom9.com" />
                <setting type="lsep" label="Login i hasło" />
                <setting id="noobroom_user" type="text" label="login" default="" />
                <setting id="noobroom_pass" type="text" label="hasło" option="hidden"  default="" />				
        </category>
       
        <category label="plejer.tv">
                <setting type="lsep" label="zaloguj sie do serwisu"/>
                <setting id="plej_login" type="bool" label="Zaloguj się" default="false" />
                <setting type="sep"/>
                <setting type="lsep" label="Login i hasło" />
                <setting id="plej_user" type="text" label="login" default="" />
                <setting id="plej_pass" type="text" label="hasło" option="hidden"  default="" />
        </category>
                <category label="scs.pl">
                <setting type="lsep" label="zaloguj sie do serwisu"/>
                <setting id="scs.pl_login" type="bool" label="Zaloguj się" default="false" />
                <setting type="sep"/>
                <setting type="lsep" label="Login i hasło" />
                <setting id="scs.pl_user" type="text" label="login" default="" />
                <setting id="scs.pl_pass" type="text" label="hasło" option="hidden"  default="" />
        </category>
        <category label="wrzuta.pl">
                <setting type="lsep" label="zaloguj sie do serwisu"/>
                <setting id="wrzuta_login" type="bool" label="Zaloguj się" default="false" />
                <setting type="sep"/>
                <setting type="lsep" label="Login i hasło" />
                <setting id="wrzuta_user" type="text" label="login" default="" />
                <setting id="wrzuta_pass" type="text" label="hasło" option="hidden"  default="" />      
        </category>

</settings>
